<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" data-href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&amp;family=Playfair+Display+SC:wght@400;700&amp;display=swap" data-optimized-fonts="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/097231be4e.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/511a6cb386.js" crossorigin="anonymous"></script>
    <title>Meesho Online Shopping-Lowest Prices Best Quality Shopping</title>

</head>
<style>
    *{
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.5;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#div{
    position: fixed;
     z-index: 10000; 
    width: 100%;
    background: white;
    top: 0px;
   /* border: 2px solid black; */
   
}
#search-bar{
  position: absolute;
    height: 100%;
    display: flex;
    left: 16px;
    -webkit-box-align: center;
    align-items: center;
}
#search-icon{
  height: 20px;
    width: 20px;
    cursor: inherit;
}
#header{
    height: 72px;
    width: 1370px;
    display: flex;
    flex-direction: row;
    background: rgb(255, 255, 255);
    /* border: 2px solid black;  */
    margin: auto;
    
    
}
#logo{
    min-width: 160px;
    align-items: center;
    cursor: pointer;
    margin-top: 16px;
}
#search{
    /* margin-right: 1100px; */
    margin-top: 9px;
    margin-left: 20px;
}
#input1{
    font-weight: 500;
    font-weight: 400px;
    width: 360px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid rgb(153, 153, 153);
    padding: 16px 36px 16px 44px;
    caret-color: rgb(244, 51, 151);
    letter-spacing: 0.2px;
}
#download {
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: right;
    margin-left: 60px;
    cursor: pointer;
    /* border: 1px solid red; */
  }
 #divider{
    width: 2px;
    height: 40px;
    background-color: rgb(223, 223, 223);
    border-radius: 2px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 15px;
 }
 #supplier {
     font-size: 15px;
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 25px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 25px;
  }
  #profile {
   margin-left: 65px;
   margin-top: 10px;
    /* border: 1px solid red; */
    text-align: center;
    line-height: 5px;
    cursor: pointer;
    text-decoration: none;
   
  }
  #cart {
   margin-left: 65px;
   margin-top: 10px;
    /* border: 1px solid red; */
    text-align: center;
    line-height: 5px;
    cursor: pointer;
  }
  #heading2{
    height: 52px;
    width: 1370px;
    display: flex;
    flex-direction: row;
    background: rgb(255, 255, 255);
    /* border: 2px solid black; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    height: 52px;
    /* border: 2px solid black; */
  }
  #heading2-line{
   
    height: 1px;
    background-color: rgb(223, 223, 223);
    border-radius: 2px;
    width: 100%;
  }
   #h2-cont{
    position: relative;
    height: 52px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(255, 255, 255);
    pointer-events: all;
  }

  /* #h3-cont{
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    border-radius: 2px 2px 0px 0px;
  }
  #h3-text{
    color: black;
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 'Lucida Grande',
     'Lucida Sans Unicode', Geneva, Verdana, 
     sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
  } */

 
*,
*:before,
*:after {
    box-sizing: inherit;
}


/* 
h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}

h2 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 10px;
} */

.container {
    margin: auto;
    width: 1500px;
    height: 52px;
}

.ul-reset {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}
nav {
    background: white;
    font-size: 0;
    position: relative;
}

nav>ul>li {
    display: inline-block;
    font-size: 14px;
    padding: 0 15px;
    position: relative;
}

nav>ul>li:first-child {
    padding-left: 0;
}

nav>ul>li:last-child {
    padding-right: 0;
}

nav>ul>li>a {
    color: black;
    display: block;
    position: relative;
    padding: 12px 0;
    /* border-bottom: 3px solid transparent; */
    /* border-bottom: 1px solid rgb(223, 223, 223); */
}

nav>ul>li:hover>a {
    color: #f43698;
    border-bottom: 5px solid#f43698;
}
.mega-menu {
    background: #f0f0f0;
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
}

.mega-menu h3 {
    color: #f00ebf;
}

.mega-menu ul {
    float: left;
    margin-bottom: 20px;
    margin-right: 40px;
    width: 205px;
}

.mega-menu ul:last-child {
    margin-right: 0;
}

.mega-menu a {
    /* border-bottom: 1px solid #ddd; */
    color: rgb(58, 58, 58);
    display: block;
    padding: 10px 0;
}

.mega-menu a:hover {
    color: black;
    font-weight: bold;
}
.droppable {
    position: static;
}

.droppable>a:after {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 12px;
    padding-left: 6px;
    position: relative;
    top: -1px;
}

.droppable:hover .mega-menu {
    display: block;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

  #content-box{
    width: 1110px;
    display: flex;
    flex-direction: row;
    margin: auto;

  }
  #div1{
    width: 1110px;
    height: 336px;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    /* border: 2px solid black; */
    border-radius: 5px;
  
  }
  #play-text {
    font-family: sans-serif;
    margin-left: 30px;
    margin-top: 40px;
    font-size: 38px;
    font-weight: bold;
  }
  #FiftyLakh {
    margin-top: 30px;
    margin-left: 50px;
    height: 60px;
    padding-left: 25px;
    background-color: white;
    letter-spacing: 0.5px;
    border-radius: 10px;
  }
  #FiftyLakh > p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  
    color: rgb(102, 102, 102);
    padding-top: 15px;
    font-size: 19px;
  }
  
  #playstoreBanner > button {
    width: 60%;
    cursor: pointer;
    height: 50px;
    margin-left: 40px;
    margin-top: 25px;
    font-size: 18px;
    color: white;
    border: 0;
    border-radius: 5px;
    background-color: #f43397;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  #playstoreBanner{
    width: 590px;
    height: 336px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  #modelBanner{
   
    width: 520px;
    height: 336px;
  }
  #fashion-div{
    width: 1110px;
    display: flex;
    background-image: url(https://images.meesho.com/images/marketing/1631612018143.png);
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 20px 24px 22px;
    height: 546px;
    border-radius: 4px;
    margin: auto;
   }
   #cate{
    width: 1110px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.7px;
    color: rgb(32, 32, 36);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
   }
   #line{
    width: 22%;
    height: 1px;
    background: rgb(247, 168, 202);
   }
  #top{
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.7px;
    color: rgb(32, 32, 36);
  }
  #banners2{
    display: flex;
    /* height: 100%; */
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
  }
  #banner-img{
    width: 312px;
    height: 291px;
    margin-left: 15px;
    cursor: pointer;
  }
  #homecare{
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    height: 546px;
    width: 1110px;
    background-image: url(https://images.meesho.com/images/marketing/1629883965347.png);
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 24px 0px 28px;
    margin-left: auto;
    margin-right: auto;
  }
  #home-banner{
    width: 339px;
    height: 288px;
    margin-right: 30px;
    position: relative;
    text-align: center;
  }
  #home-text{
    color: rgb(3, 141, 99);
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 52px;
    /* font-family: "Mier bold"; */
    margin: 0px;
    padding: 0px 0px 37px;
  }
  #view-button{
    cursor: pointer;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.0015em;
    font-size: 15px;
    line-height: 20px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background: rgb(3, 141, 99);
    border: none;
    padding: 12px 28px;
  }
  #h-button{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
  }
  #homecare-banner{
    display: flex;
  }
  #homecare-img{
    cursor: pointer;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    /* height: 546px; */
  }
  #h-text{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    margin-top: 12px;
    padding: 12px 28px;
    display: inline-block;
    border-radius: 4px;
  }
  #homecare-img1{
    height: 348px;
    width: 212px;
    background: rgb(205, 237, 222);
    padding: 8px;
  }
  #h-text1{
    color: rgb(3, 141, 99);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
  }
  #seller{
    position: relative;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 1110px;
  }
  #sell-div{
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 48px;
  }
  #sell-text{
    color: rgb(85, 133, 248);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* font-family: "Mier bold"; */
    margin: 0px 0px 16px;
    padding: 0px;
  }
  #sell-text2{
    color: rgb(244, 51, 151);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    /* font-family: "Mier bold"; */
    margin: 0px;
    padding: 0px;
  }
  #google-btns{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-top: 52px;
  }
  #btn{
    background: rgb(0, 0, 0);
    border-radius: 4px;
    margin-left: 12px;
    cursor: pointer;
    padding: 6px 25px;
    width: 180px;
    height: 48px;

  }
  #reg{
    width: 1110px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 4px;
  }
  #reg1{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px 60px;
    color: white;
  }
  #reg-title{
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
  }
  #reg-title1{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 16px;
  }
  #reg-text{
    margin-top: 29px;
    display: flex;
    flex-direction: row;
  }
  #reg-text1{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 30px 0px 0px;
    margin-top: 0px;
    border-right: 1px solid rgb(255, 255, 255);
  }
  #text-cont{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 0px;
    padding-left: 8px;
  }
  #reg-text2{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 30px;
    margin-top: 0px;
    border-right: 1px solid rgb(255, 255, 255);
  }
  #reg-text3{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 30px;
    margin-top: 0px;
  }
  #sign-up-now{
    width: 168px;
    background: rgb(255, 255, 255);
    color: rgb(244, 51, 151);
    border-radius: 4px;
    padding: 10px 28px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-top: 40px;
    position: absolute;
  }
  #foot{
    background: rgb(249, 249, 249);
    margin-top: 40px;
  }
 #foot1{
  width: 1320px;
  height: 302px;
 
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
 }
 #foot-left{
  text-align: left;
  position: relative;
    
    min-height: 1px;
    /* padding-right: 8px;
    padding-left: 8px; */
    line-height: 16px;
    padding: 60px 0px 40px;
 }
 #foot-t1{
  color: rgb(51, 51, 51);
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  /* font-family: "Mier bold"; */
  margin: 0px;
  padding: 0px;
  letter-spacing: 0.5px;
 }
 #foot-t2{
  margin-top: 20px;
  color: rgb(102, 102, 102);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 0px;
  letter-spacing: 0.5px;
 }
 #foot-btn{
  display: flex;
  width: 100%;
  gap: 16px;
  background: transparent;
  border-radius: 8px;
  margin-top: 20px;
 }
 #foot-btn1{
  width: 180px;
  height: 48px;
 }
 #foot-mid{
   margin-bottom: 40px;
   line-height: 24px;
   padding: 60px 0px 40px;
  letter-spacing: 0.5px;
  font-size: 18px;
  margin-left: 40px;
 }
 #foot-mid > div{
  margin-bottom: 16px;
  cursor: pointer;
  display: inline-block;

 }
 a{
   text-decoration: none;
   background-color: transparent;
 }
 #car{
  color: rgb(102, 102, 102);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  
  margin: 0px;
  padding: 0px;
 }
 #foot-mid > div {
  
  cursor: pointer;
  display: inline-block;
}
#foot-mid > div:last-child {
  margin-bottom: 0px;
}
#foot-right{
  position: relative;
  padding: 60px 0px 40px;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
}
#footRight{
  display: flex;
    flex-direction: row;
    margin-left: 40px;
}
#foot-right1{
  position: relative;
  
  min-height: 1px;
  padding-right: 8px;
  padding-left: 8px;
}
#contact-us{
  color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin: 0px;
}
#foot-right2{
  position: relative;
    /* width: 100%; */
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: 48px;
}
#reach{
  color: rgb(51, 51, 51);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
 
  margin: 0px;
  padding: 0px;
  
}
#reach-img{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 70%;
}
#right-foot-end{
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
#foot-right-end1{
  display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(240, 240, 240);
    padding: 10px;
}
#foot-right-end-icon{
  height: 28px;
    width: 28px;
    cursor: inherit;
}
#foot-right-end-text{
  color: rgb(102, 102, 102);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0px;
  padding: 0px 0px 0px 10px;
}
#footer2{
  width: 1328px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
#footer2-1{
  background: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    border: 1px solid rgb(223, 223, 223);
    padding: 18px 24px;
    border-radius: 8px;
    width: 100%;
}
#footer2-2{
  display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    cursor: pointer;
}
#footer2-title{
  color: rgb(51, 51, 51);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
 
  text-align: initial;
  margin: 0px;
  padding: 0px;
}
#footer2-icon{
  height: 28px;
    width: 28px;
    cursor: inherit;
}
#footer2-content{
  max-height: 100%;
    overflow: hidden;
    transition: all 0.3s ease-out 0s;
}
#footer2-line{
  height: 1px;
    background-color: rgb(223, 223, 223);
    border-radius: 2px;
    width: 100%;
}
#footer2-main-cont{
  display: flex;
    flex-direction: column;
    /* font-size: 16px;*/
} 
#footer2-main-cont2{
  margin-bottom: 20px;
}
#cont-title{
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}
#cont-cont{
  color: rgb(102, 102, 102);
}
#cont-cont p{
  font-size: 15px;
  color: rgb(102, 102, 102);
}
#cont-title h1{
  font-weight: 600;
  font-size: 20px;
  
}
#cont-cont a{
    color: rgb(244, 51, 151);
   
}
#link-cont a{
  color: rgb(244, 51, 151);
  font-weight: 600;
}
#link-divider{
  color: rgb(102, 102, 102);
    margin: 0px 2px;
}

</style>

<style>

    *{
        font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 1.5;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    #foot{
        background: rgb(249, 249, 249);
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        
      }
     #foot1{
      width: 100%;
      height: auto;
     
      
      margin-top: 50px;
      display: flex;
      flex-direction: row;
     }
     #foot-left{
      text-align: left;
      position: relative;
        
        min-height: 1px;
        /* padding-right: 8px;
        padding-left: 8px; */
        line-height: 16px;
        padding: 60px 0px 40px;
     }
     #foot-t1{
      color: rgb(51, 51, 51);
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 40px;
      /* font-family: "Mier bold"; */
      margin: 0px;
      padding: 0px;
      letter-spacing: 0.5px;
     }
     #foot-t2{
      margin-top: 20px;
      color: rgb(102, 102, 102);
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      padding: 0px;
      letter-spacing: 0.5px;
     }
     #foot-btn{
      display: flex;
      width: 100%;
      gap: 16px;
      background: transparent;
      border-radius: 8px;
      margin-top: 20px;
     }
     #foot-btn1{
      width: 180px;
      height: 48px;
     }
     #foot-mid{
       margin-bottom: 40px;
       line-height: 24px;
       padding: 60px 0px 40px;
      letter-spacing: 0.5px;
      font-size: 18px;
      margin-left: 40px;
     }
     #foot-mid > div{
      margin-bottom: 16px;
      cursor: pointer;
      display: inline-block;
    
     }
     a{
       text-decoration: none;
       background-color: transparent;
     }
     #car{
      color: rgb(102, 102, 102);
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      
      margin: 0px;
      padding: 0px;
     }
     #foot-mid > div {
      
      cursor: pointer;
      display: inline-block;
    }
    #foot-mid > div:last-child {
      margin-bottom: 0px;
    }
    #foot-right{
      position: relative;
      padding: 60px 0px 40px;
        min-height: 1px;
        padding-right: 8px;
        padding-left: 8px;
    }
    #footRight{
      display: flex;
        flex-direction: row;
        margin-left: 40px;
    }
    #foot-right1{
      position: relative;
      
      min-height: 1px;
      padding-right: 8px;
      padding-left: 8px;
    }
    #contact-us{
      color: rgb(51, 51, 51);
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        margin: 0px;
    }
    #foot-right2{
      position: relative;
        /* width: 100%; */
        min-height: 1px;
        padding-right: 8px;
        padding-left: 8px;
        margin-left: 48px;
    }
    #reach{
      color: rgb(51, 51, 51);
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
     
      margin: 0px;
      padding: 0px;
      
    }
    #reach-img{
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
      width: 70%;
    }
    #right-foot-end{
      display: flex;
      flex-direction: row;
      margin-top: 60px;
    }
    #foot-right-end1{
      display: flex;
        -webkit-box-align: center;
        align-items: center;
        background: rgb(240, 240, 240);
        padding: 10px;
    }
    #foot-right-end-icon{
      height: 28px;
        width: 28px;
        cursor: inherit;
    }
    #foot-right-end-text{
      color: rgb(102, 102, 102);
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      margin: 0px;
      padding: 0px 0px 0px 10px;
    }
    </style>
<body>

    <div id="main-conatiner">
        <div style="position:fixed;z-index:9999;top:20px;left:0;right:0;bottom:40px;pointer-events:none"></div>
        <div id="content">
            <div id="header">
                
                    <div id="logo">
                        <svg viewBox="0 0 87 20" fill="none" xmlns="http://www.w3.org/2000/svg" width="156" height="36" iconsize="20" cursor="inherit" class="meesho-icon"><path d="M12.844 6.814c1.453.011 2.677.516 3.685 1.507 1.02.998 1.523 2.188 1.512 3.593L18 18.522c-.006.788-.668 1.423-1.488 1.423-.815-.006-1.471-.646-1.465-1.434l.04-6.608a2.048 2.048 0 00-.661-1.57c-.428-.43-.967-.646-1.6-.646a2.227 2.227 0 00-1.664.686c-.416.42-.621.997-.627 1.581l-.035 6.511c-.006.8-.68 1.446-1.506 1.44-.826-.006-1.494-.657-1.488-1.457l.04-6.55a2.21 2.21 0 00-.603-1.56c-.45-.464-1.002-.69-1.658-.696a2.236 2.236 0 00-1.611.629c-.434.425-.668.946-.668 1.558l-.041 6.602c-.006.794-.674 1.434-1.494 1.429-.82-.006-1.477-.652-1.471-1.445l.041-6.58a4.928 4.928 0 011.29-3.32c1.083-1.168 2.419-1.752 3.972-1.74 1.482.01 2.748.526 3.761 1.575 1.043-1.043 2.297-1.542 3.78-1.536zm18.682 7.316l-8.479-.052c.07 1.02.41 1.83 1.008 2.436.603.596 1.377.902 2.32.907.738.006 1.348-.159 1.834-.499.287-.204.598-.504.932-.918a1.434 1.434 0 011.787-.362l.088.045a1.32 1.32 0 01.369 2.034 7.51 7.51 0 01-.287.318 6.416 6.416 0 01-1.389 1.11 5.61 5.61 0 01-1.594.63c-.574.13-1.19.198-1.857.192-1.91-.011-3.445-.617-4.594-1.813-1.148-1.202-1.717-2.794-1.705-4.772.012-1.96.586-3.542 1.717-4.743 1.143-1.19 2.643-1.78 4.512-1.763 1.886.012 3.375.601 4.459 1.774 1.078 1.162 1.61 2.76 1.6 4.806a.703.703 0 01-.721.67zm-2.32-2.359c-.405-1.53-1.395-2.3-2.972-2.306a2.985 2.985 0 00-1.013.153 2.928 2.928 0 00-.867.453c-.258.198-.48.436-.668.714a3.24 3.24 0 00-.428.952l5.947.034zM45.64 14.13l-8.478-.052c.07 1.02.41 1.83 1.007 2.436.604.596 1.377.902 2.32.907.739.006 1.348-.159 1.835-.499.287-.204.597-.504.931-.918a1.434 1.434 0 011.787-.362l.088.045a1.32 1.32 0 01.37 2.034 7.442 7.442 0 01-.288.318 6.416 6.416 0 01-1.388 1.11 5.61 5.61 0 01-1.594.63c-.574.13-1.19.198-1.857.192-1.91-.011-3.446-.617-4.594-1.813-1.149-1.202-1.717-2.794-1.705-4.772.012-1.96.586-3.542 1.717-4.743 1.142-1.19 2.642-1.78 4.511-1.763 1.887.012 3.375.601 4.46 1.774 1.077 1.162 1.61 2.76 1.599 4.806a.703.703 0 01-.72.67zm-2.32-2.359c-.405-1.53-1.395-2.3-2.971-2.306a2.985 2.985 0 00-1.014.153 2.928 2.928 0 00-1.535 1.167 3.24 3.24 0 00-.427.952l5.947.034zM61.976 0c.838.006 1.506.663 1.5 1.474l-.062 6.478c1.084-.93 2.277-1.14 3.578-1.134 1.3.006 2.66.566 3.539 1.501.75.81 1.113 2.103 1.101 3.871l-.047 6.302c-.005.81-.685 1.456-1.523 1.45-.838-.005-1.506-.663-1.5-1.473l.041-6.024c.006-1.014-.176-1.751-.54-2.204-.368-.46-.966-.692-1.792-.692-1.055-.006-1.805.306-2.238.935-.428.64-.645 1.74-.657 3.298l-.035 4.664c-.005.81-.685 1.457-1.523 1.451-.838-.005-1.506-.663-1.5-1.473l.129-16.962c.012-.822.691-1.468 1.53-1.462zM73.44 13.46c.012-1.751.668-3.236 1.975-4.454 1.3-1.219 2.888-1.825 4.746-1.808 1.869.011 3.451.64 4.746 1.887 1.277 1.241 1.91 2.766 1.898 4.562-.012 1.82-.668 3.332-1.974 4.556-1.313 1.213-2.918 1.808-4.81 1.797-1.882-.012-3.446-.646-4.712-1.899-1.254-1.235-1.88-2.782-1.869-4.641zm2.96.068c-.007 1.213.316 2.17.984 2.879.68.72 1.582 1.082 2.707 1.088 1.13.006 2.039-.34 2.718-1.043.68-.703 1.026-1.638 1.037-2.816.006-1.18-.322-2.12-.996-2.828-.68-.714-1.582-1.083-2.707-1.088-1.107-.006-2.004.345-2.695 1.054-.691.708-1.037 1.626-1.049 2.754zm-19.405-.257c.907.664 1.363 1.53 1.38 2.582v.044c0 1.286-.507 2.348-1.453 3.067-.868.66-2.073 1.008-3.476 1.008-1.492 0-3.064-.42-4.427-1.177a1.362 1.362 0 01-.485-1.967 1.443 1.443 0 011.2-.626c.248 0 .49.06.704.18 1.042.577 2.107.882 3.076.882 1.532 0 1.695-.74 1.695-1.062v-.044c0-.648-.884-.953-2.332-1.378-.101-.033-.197-.06-.293-.087-.963-.267-1.965-.589-2.743-1.144-.924-.665-1.374-1.537-1.374-2.67v-.044c0-2.326 1.949-3.955 4.737-3.955 1.172 0 2.45.283 3.617.806.36.164.642.463.766.834a1.36 1.36 0 01-.113 1.106l-.006.005a1.449 1.449 0 01-1.256.714c-.214 0-.417-.043-.608-.13-.907-.41-1.763-.627-2.479-.627-.912 0-1.504.37-1.504.948v.043c0 .67 1.172 1.03 2.411 1.417l.242.076c.952.284 1.938.632 2.721 1.199z" fill="#F43397"></path></svg>
                    </div>

                    <div id="search">
                        <span id="search-bar">
                            <svg viewBox="0 0 20 20" fill="greyT2" xmlns="http://www.w3.org/2000/svg" iconsize="20" id="search-icon"><g clip-path="url(#search_svg__clip0)"><path d="M19.77 18.67l-3.76-3.76a9.062 9.062 0 002.12-5.83C18.13 4.06 14.07 0 9.06 0 4.06 0 0 4.06 0 9.08c0 5.02 4.06 9.08 9.06 9.08 2.23 0 4.27-.81 5.85-2.15l3.76 3.76c.3.3.8.3 1.1 0 .31-.3.31-.8 0-1.1zM9.06 16.6c-4.14 0-7.51-3.37-7.51-7.52 0-4.15 3.37-7.52 7.51-7.52s7.51 3.37 7.51 7.52c0 4.15-3.37 7.52-7.51 7.52z" fill="#666"></path></g><defs><clipPath id="search_svg__clip0"><path fill="#fff" d="M0 0h20v20H0z"></path></clipPath></defs></svg>
                        </span>
                       <input id="input1" type="text" placeholder="Try Saree, Kurti or Search by Product Code">
                    </div>
                        
                    <div onclick="playStore()" id="download">
                        <div id="download-Div" style="height: 20px;">
                            
                            <i class="fas fa-mobile-alt" style="font-size:18px; color: black; margin-top: 27px; text-align: center;"></i>
                        </div>
            
                        <div id="downloadTextDiv"  style=" margin-top: 25px;">
                            <p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 16px; margin-left:10px">Download App</p>
                        </div>
                        <div id="divider"></div>            
                    </div>

                    <div id="supplier">
                       <p id="sup-text" style="font-family: 'Lucida Sans', 
                         'Lucida Sans Regular', 'Lucida Grande',
                          'Lucida Sans Unicode', Geneva, Verdana, 
                          sans-serif; font-size: 16px;"> <a href="#" style="color: black;" >Become a Supplier</a></p>
                         
                     </div>

                     <div id="divider"></div>

                     <div id="profile">
                        <div>
                            <i class="far fa-user" style="font-size:19px; text-align: center;"></i>
                        </div>
                        <p><a href="#"style="color:black">Profile</a></p>
                    </div>
                     
                    <div id="cart" onclick="cart()">

                        <div>
                            <i class="fas fa-shopping-cart" style="font-size: 19px; text-align: center; color: black;"></i>
                        </div>
                        <a href="#" style="color: black;"><p style="text-decoration: none;">Cart</p></a>
                        
                    </div>
               </div>


              <div id="heading2-line"></div>
               <div id="heading2">

                  <div id="h2-cont">
                   
                    <nav>
                        <ul class="container ul-reset">
                
                            <li class='droppable'>
                                <a href='/product-sari'>Women Ethnic</a>
                                <div class='mega-menu'>
                                    <div class="container cf">
                                        <ul class="ul-reset">
                                            <h3>All Women Ethnics</h3>
                                            <li><a href='#'>View All</a></li>
                
                
                                        </ul>
                                        <ul class="ul-reset">
                                            <h3>Sarees</h3>
                                            <li><a href='/product-sari'>All Sarees</a></li>
                                            <li><a href='/product-sari'>Silk Sarees</a></li>
                                            <li><a href='/product-sari'>Palazzos</a></li>
                                            <li><a href='/product-sari'>Cotton Sarees</a></li>
                                            <li><a href='/product-sari'>Chiffon Sarees</a></li>
                                        </ul>
                
                                        <ul class="ul-reset">
                                            <h3>Kurtis</h3>
                                            <li><a href='/product-kurti'>All Kurtis</a></li>
                                            <li><a href='/product-kurti'>Anarkali Kurtis</a></li>
                                            <li><a href='/product-kurti'>Rayon Kurtis</a></li>
                                            <li><a href='/product-kurti'>Cotton Kurtis</a></li>
                                            <li><a href='/product-kurti'>Embroidered Kurtis</a></li>
                                        </ul>
                
                                        <ul class="ul-reset">
                                            <h3>Suits & Dress Material</h3>
                                            <li><a href='/product-sari'>All Sarees</a></li>
                                            <li><a href='/product-sari'>Silk Sarees</a></li>
                                            <li><a href='/product-sari'>Cotton Silk Sarees</a></li>
                                            <li><a href='/product-sari'>Cotton Sarees</a></li>
                                            <li><a href='/product-sari'>Skirts</a></li>
                                            <li><a href='/product-sari'>Chiffon Sarees</a></li>
                                            <li><a href='/product-sari'>Embroidered Sarees</a></li>
                                        </ul>
                
                                        <ul class="ul-reset">
                                            <h3>Other Ethnic</h3>
                                            <li><a href='/product-sari'>Blouses</a></li>
                                            <li><a href='/product-sari'>Dupattas</a></li>
                                            <li><a href='/product-sari'>Lehanga</a></li>
                                            <li><a href='/product-sari'>Gown</a></li>
                                            <li><a href='/product-sari'>Ethnic Bottomwear</a></li>
                                        </ul>
                
                                        <ul class="ul-reset">
                                            <h3>Kurta Sets</h3>
                                            <li><a href='/product-kurti'>All Kurta Sets</a></li>
                
                                        </ul>
                
                            <li class='droppable'>
                                <a href='#'>Women Western</a>
                                <div class='mega-menu'>
                                    <div class="container cf">
                                        <ul class="ul-reset">
                                            <h3>Top Wear</h3>
                                            <li><a href='/product-kurti'>Dresses</a></li>
                                            <li><a href='/product-kurti'>Tops</a></li>
                                            <li><a href='/product-kurti'>Sweaters</a></li>
                                            <li><a href='/product-kurti'>Jump Suits</a></li>
                
                                        </ul>
                                        <ul class="ul-reset">
                                            <h3>Bottom Wear</h3>
                                            <li><a href='/product-mens'>Jeans</a></li>
                                            <li><a href='/product-mens'>Jeggings</a></li>
                                            <li><a href='/product-mens'>Palazzos</a></li>
                                            <li><a href='/product-mens'>Shorts</a></li>
                                            <li><a href='/product-mens'>Skirts</a></li>
                                        </ul>
                                        <ul class="ul-reset">
                                            <h3>Inner Wear</h3>
                                            <li><a href='#'>Bra</a></li>
                                            <li><a href='#'>Briefs</a></li>
                
                                        </ul>
                                        <ul class="ul-reset">
                                            <h3>Sleep Wear</h3>
                                            <li><a href='#'>Nightsuits</a></li>
                                            <li><a href='#'>Babydolls</a></li>
                
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class='droppable'>
                                <a href='#'>Jewellery & Accessories</a>
                                <div class='mega-menu'>
                                    <div class="container cf">
                                        <ul class="ul-reset">
                                            <h3>Jewellery</h3>
                                            <li><a href='/product-jwellery'>Jewellery Set</a></li>
                                            <li><a href='/product-jwellery'>Mangalsutras</a></li>
                                            <li><a href='/product-jwellery'>Earring</a></li>
                                            <li><a href='/product-jwellery'>Studs</a></li>
                                            <li><a href='/product-jwellery'>Bangles</a></li>
                                            <li><a href='/product-jwellery'>Neckles</a></li>
                                            <li><a href='/product-jwellery'>Ring</a></li>
                                            <li><a href='/product-jwellery'>Anklets</a></li>
                
                
                                        </ul>
                                        <ul class="ul-reset">
                                            <h3>Women Accessory</h3>
                                            <li><a href='/product-jwellery'>Bags</a></li>
                                            <li><a href='/product-jwellery'>Watches</a></li>
                                            <li><a href='/product-jwellery'>Hair Accessory</a></li>
                                            <li><a href='/product-jwellery'>Sunglasses</a></li>
                                            <li><a href='/product-jwellery'>Socks</a></li>
                                        </ul>
                
                                    </div>
                                </div>
                            </li>
                            <li class='droppable'>
                                <a href='#'>Men</a>
                                <div class='mega-menu'>
                                    <div class="container cf">
                                        <ul class="ul-reset">
                                            <h3>Top Wear</h3>
                                            <li><a href='/product-mens'>All Top wear</a></li>
                                            <li><a href='/product-mens'>Shirts</a></li>
                                            <li><a href='/product-mens'>Tshirts</a></li>
                
                
                                        </ul>
                                        <ul class="ul-reset">
                                            <h3>Bottom Wear</h3>
                                            <li><a href='/product-jwellery'>Bags</a></li>
                                            <li><a href='/product-jwellery'>Watches</a></li>
                                            <li><a href='/product-jwellery'>Hair Accessory</a></li>
                                            <li><a href='/product-jwellery'>Sunglasses</a></li>
                                            <li><a href='/product-jwellery'>Socks</a></li>
                                        </ul>
                
                                        <ul class="ul-reset">
                                            <h3>Men Accessory</h3>
                                            <li><a href='/product-jwellery'>Bags</a></li>
                                            <li><a href='/product-jwellery'>Watches</a></li>
                                            <li><a href='/product-jwellery'>Hair Accessory</a></li>
                                            <li><a href='/product-jwellery'>Sunglasses</a></li>
                                            <li><a href='/product-jwellery'>Socks</a></li>
                                        </ul>
                
                                        <ul class="ul-reset">
                                            <h3>Men Footwear</h3>
                                            <li><a href='#'>Bags</a></li>
                                            <li><a href='#'>Watches</a></li>
                                            <li><a href='#'>Hair Accessory</a></li>
                                            <li><a href='#'>Sunglasses</a></li>
                                            <li><a href='#'>Socks</a></li>
                                        </ul>
                
                                        <ul class="ul-reset">
                                            <h3>Ethnic Wear</h3>
                                            <li><a href='#'>Bags</a></li>
                                            <li><a href='#'>Watches</a></li>
                                            <li><a href='#'>Hair Accessory</a></li>
                                            <li><a href='#'>Sunglasses</a></li>
                                            <li><a href='#'>Socks</a></li>
                                        </ul>
                
                                        <ul class="ul-reset">
                                            <h3>Inner & Sleep Wear</h3>
                                            <li><a href='#'>Bags</a></li>
                                            <li><a href='#'>Watches</a></li>
                                            <li><a href='#'>Hair Accessory</a></li>
                                            <li><a href='#'>Sunglasses</a></li>
                                            <li><a href='#'>Socks</a></li>
                                        </ul>
                
                            <li class='droppable'>
                                <a href='#'>Beauty & Health</a>
                                <div class='mega-menu'>
                                    <div class="container cf">
                                        <ul class="ul-reset">
                                            <h3>Make up</h3>
                                            <li><a href='#'>Face</a></li>
                                            <li><a href='#'>Eyes</a></li>
                                            <li><a href='#'>Lips</a></li>
                                            <li><a href='#'>Nails</a></li>
                
                
                
                                        </ul>
                                        <ul class="ul-reset">
                                            <h3>Wellness</h3>
                                            <li><a href='#'>Sanitizers</a></li>
                                            <li><a href='#'>Oral Care</a></li>
                                            <li><a href='#'>Feminine Hygiene</a></li>
                
                                        </ul>
                                        <ul class="ul-reset">
                                            <h3>Skin Care</h3>
                                            <li><a href='#'>Deodrants</a></li>
                                        </ul>
                
                            <li class='droppable'>
                                <a href='#'>Bags & FootWear</a>
                                <div class='mega-menu'>
                                    <div class="container cf">
                                        <ul class="ul-reset">
                                            <h3>Women Footwear</h3>
                                            <li><a href='#'>Flats</a></li>
                                            <li><a href='#'>Bellies</a></li>
                                            <li><a href='#'>Juttis</a></li>
                
                
                                        </ul>
                                        <ul class="ul-reset">
                                            <h3>Men Footwear</h3>
                                            <li><a href='#'>Sport Shoes</a></li>
                                            <li><a href='#'>Casual Shoes</a></li>
                                            <li><a href='#'>Formal Shoes</a></li>
                                            <li><a href='#'>Sandals</a></li>
                                        </ul>
                                        <ul class="ul-reset">
                                            <h3>Women Bags</h3>
                                            <li><a href='#'>All Women Bags</a></li>
                                            <li><a href='#'>Handbags</a></li>
                                            <li><a href='#'>Clutches</a></li>
                                            <li><a href='#'>Slingbags</a></li>
                                        </ul>
                                        <ul class="ul-reset">
                                            <h3>Men Bags</h3>
                                            <li><a href='#'>All Men Bags</a></li>
                                            <li><a href='#'>Men Wallets</a></li>
                
                                        </ul>

                                <li class="droppable">
                                     <a href="#">Home & Kitchen</a>
                                </li>
                                 <li class="droppable">
                                    <a href="#">Kids</a>
                                </li>   
                                 <li class="droppable">
                                    <a href="/product-electronics">Electronics</a>
                                </li>      
                    </nav> 

                  </div>
                </div>
                 <div id="heading2-line"></div>

               

            
           <div id="content-box" style="border-radius: 8px;">
         
             <div id="div1">
                <div id="playstoreBanner" style="width: 590px;">
                    <h1 id="play-text" >Lowest Prices <br> Best Quality Shopping</h1>
                    <div id="FiftyLakh">
                        <p>50 lakh+ Styles | 650+ categories</p>
                    </div>
                    <button>
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAcCAYAAAB75n/uAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJqSURBVHgBrZRPaxNBGMbfmd1oG+KfFBGpCBtBUPBgoB49BEzxpNSLx/YqXhJtTxqr/QLJfoKkX0ByEaQVDEIpAUtKBS2I3VgjWGLcEJq02Sb7OrNlY5pskk12H1hmdt6Z5zfz7B8yr6wt3vQUIyFvPq8TnAn4o3lwUWR+Zw1558apPxD2KgAIqSbF126BqNn5ql2A7OFlhoQ5AcmHgirPggui7TfZw8ljCICkI6Z2/yYURY3fAgeinQNtEAPETpPbLSWSDCSBGwALSCu2H6V4BNwAmJDN+qX2IYkQEuex/VLlB+AUwPXx4Irx8DskNRHTdmOjgyas1gJWEDO23E9VXgQnABNSaJyxKp1HxFc8NlV5MjsygOtt9RoUm17L2lhtT/KVv6UauXASc/ekkQB1FODN/vUuiEerwLnSltFHIHMN0JWj3HQrttavwq7O0jo89G2zVjPMJ/ayQPWjrnkEIM+aqO0TmKrop42TVLUm+IsbluZcbNcSu5JDA7iECsDFtG60/cROUR4a4N+vw+P3X2CiSEFYvw1QG+8xEzMC0NBQANPcX60f7/BgvAvCs2fXjCe4GiLBd3nbgDGtccK8Zcghn4IADQ/ftSyAFhSDK2mzLjoxb0Eqvoy4cjdKnkc3O2u2ANx8Uq1ZlcrMPkJiz5Z7rR0Y0aP17z3MUYYmDZDY0+V+68VB5lM7xU7jDFDBMo6hANNbhU5zlcUR7ReHlWgv8/DngnnLPkhMsDiuDorDSmIfczTiAFwisYUMjCixh7kKRF8iLxYS4FAUjVcN4M72b27+Pw4XzLlEgro8pZRe3t9QMk7jsNI/SVwmYkYExSAAAAAASUVORK5CYII=" alt="">
                        
                        <a href="https://play.google.com/store/apps/details?id=com.meesho.supply" target="_blank" style="color: white;">Download the Meesho App</a></button>
                </div>
                <div id="modelBanner">
                    <img  style="width: 520px; height: 336px;" src="https://images.meesho.com/images/marketing/1631722939962.jpg" alt="">
                </div>
             </div>

             </div>

             <div id="cate">
                 <div id="line"></div>
                 <span id="top">Top Categories to choose from</span>
                 <div id="line"></div>
             </div>

             <div id="fashion-div">

               <div id="banner">
                   <img src="https://images.meesho.com/images/marketing/1631611172021.png" alt="">
               </div>
               <div id="banners2">
                   <div id="banner-img">
                      <img src="	https://images.meesho.com/images/marketing/1631610854491.png" alt="">
                   </div>
                   <div id="banner-img">
                    <img src="https://images.meesho.com/images/marketing/1631611208025.png" alt="">
                   </div>
               </div>

             </div>

             <div id="homecare">

                <div id="home-banner">
                    <h1 color="greenBase" id="home-text">Homecare</h1>  
                    <button color="#ffffff" id="view-button" font-size="15px">
                        <div id="h-button">
                            <span color="#ffffff" font-size="18px" font-weight="800">VIEW ALL</span>
                        </div>
                    </button>
                </div>
                <div id="homecare-banner">
                    <div id="homecare-img">
                        <img id="homecare-img1" src="https://images.meesho.com/images/marketing/1629883981751.png" alt="">
                        <div id="h-text">
                            <span color="greenBase" font-size="18px" id="h-text1">Bedsheets</span>
                        </div>
                    </div>
                   
                    <div id="homecare-img">
                        <img id="homecare-img1" src="	https://images.meesho.com/images/marketing/1629884011960.png" alt="">
                        <div id="h-text">
                            <span id="h-text1">Kitchenware</span>
                        </div>
                    </div>

                    <div id="homecare-img">
                        <img id="homecare-img1" src="https://images.meesho.com/images/marketing/1629883997863.png" alt="">
                        <div id="h-text">
                            <span id="h-text1">Carpets</span>
                        </div>
                    </div>

                </div>

                </div>

                <div id="seller">
                    <img style="width: 100%; height: auto;" src="	https://meesho.com/_next/static/images/download_banner-19ca4d63d9c1dc44bc8cbfae62b60bd7.jpg" alt="">
                    <div id="sell-div">
                        <h4 color="blueBase" font-size="32px" font-weight="bold" id="sell-text">Become a Reseller and</h4>
                        <h1 color="pinkBase" font-size="48px" font-weight="bold" id="sell-text2">Start your Online Business</h1>
                        <h1 color="pinkBase" font-size="48px" font-weight="bold" id="sell-text2">with Zero Investment</h1>
                        <div id="google-btns">
                           <div id="btn">
                               <img style=" width:100%"; src="https://meesho.com/_next/static/images/playstore-a7dfd2afcd42f96d491912cbec2d6fa2.png" alt="google playstore icon">
                           </div>
                           <div id="btn">
                               <img style="width: 100%;" src="https://meesho.com/_next/static/images/appstore-a689c2ac38f3ed1ab7e7b39e98aaf15a.png" alt="">
                           </div>
                        </div>
                    </div>
                </div>

                <div id="reg">
                    <img style="width: 100%; height: 100%;" src="https://meesho.com/_next/static/images/supply_banner_desk-d53b6ffa3ee3c43feedcfdd0f3d9bd8d.jpg" alt="">
                    <div id="reg1">
                        <span id="reg-title">Register as a Meesho Supplier</span>
                        <p id="reg-title1">Sell your products to crores of customers at 0% commission</p>
                        <div id="reg-text">
                          <span id="reg-text1">
                            <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMCAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wIDEwLjVDMCA0Ljk4IDQuNDggMC41IDEwIDAuNUMxNS41MiAwLjUgMjAgNC45OCAyMCAxMC41QzIwIDE2LjAyIDE1LjUyIDIwLjUgMTAgMjAuNUM0LjQ4IDIwLjUgMCAxNi4wMiAwIDEwLjVaTTcuMjgyODggMTQuNzkyNUM3LjY3Mjg4IDE1LjE4MjUgOC4zMDI4OCAxNS4xODI1IDguNjkyODggMTQuNzkyNUwxNi4yNzI5IDcuMjAyNUMxNi42NjI5IDYuODEyNSAxNi42NjI5IDYuMTgyNSAxNi4yNzI5IDUuNzkyNUMxNS44ODI5IDUuNDAyNSAxNS4yNTI5IDUuNDAyNSAxNC44NjI5IDUuNzkyNUw3Ljk4Mjg4IDEyLjY3MjVMNS4xMDI4OCA5Ljc5MjVDNC43MTI4OCA5LjQwMjUgNC4wODI4OCA5LjQwMjUgMy42OTI4OCA5Ljc5MjVDMy41MDU2MiA5Ljk3OTMzIDMuNDAwMzkgMTAuMjMzIDMuNDAwMzkgMTAuNDk3NUMzLjQwMDM5IDEwLjc2MiAzLjUwNTYyIDExLjAxNTcgMy42OTI4OCAxMS4yMDI1TDcuMjgyODggMTQuNzkyNVoiIGZpbGw9IiMwNkE3NTkiLz4KPC9zdmc+Cg==" alt="tickIcon" height="20px" width="20px">
                            <p id="text-cont">Grow your business 10x</p>
                          </span>  
                          <span id="reg-text2">
                            <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMCAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wIDEwLjVDMCA0Ljk4IDQuNDggMC41IDEwIDAuNUMxNS41MiAwLjUgMjAgNC45OCAyMCAxMC41QzIwIDE2LjAyIDE1LjUyIDIwLjUgMTAgMjAuNUM0LjQ4IDIwLjUgMCAxNi4wMiAwIDEwLjVaTTcuMjgyODggMTQuNzkyNUM3LjY3Mjg4IDE1LjE4MjUgOC4zMDI4OCAxNS4xODI1IDguNjkyODggMTQuNzkyNUwxNi4yNzI5IDcuMjAyNUMxNi42NjI5IDYuODEyNSAxNi42NjI5IDYuMTgyNSAxNi4yNzI5IDUuNzkyNUMxNS44ODI5IDUuNDAyNSAxNS4yNTI5IDUuNDAyNSAxNC44NjI5IDUuNzkyNUw3Ljk4Mjg4IDEyLjY3MjVMNS4xMDI4OCA5Ljc5MjVDNC43MTI4OCA5LjQwMjUgNC4wODI4OCA5LjQwMjUgMy42OTI4OCA5Ljc5MjVDMy41MDU2MiA5Ljk3OTMzIDMuNDAwMzkgMTAuMjMzIDMuNDAwMzkgMTAuNDk3NUMzLjQwMDM5IDEwLjc2MiAzLjUwNTYyIDExLjAxNTcgMy42OTI4OCAxMS4yMDI1TDcuMjgyODggMTQuNzkyNVoiIGZpbGw9IiMwNkE3NTkiLz4KPC9zdmc+Cg==" alt="tickIcon" height="20px" width="20px">
                            <p id="text-cont">Enjoy 100% Profit</p>
                          </span>
                          <span id="reg-text3">
                            <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMCAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wIDEwLjVDMCA0Ljk4IDQuNDggMC41IDEwIDAuNUMxNS41MiAwLjUgMjAgNC45OCAyMCAxMC41QzIwIDE2LjAyIDE1LjUyIDIwLjUgMTAgMjAuNUM0LjQ4IDIwLjUgMCAxNi4wMiAwIDEwLjVaTTcuMjgyODggMTQuNzkyNUM3LjY3Mjg4IDE1LjE4MjUgOC4zMDI4OCAxNS4xODI1IDguNjkyODggMTQuNzkyNUwxNi4yNzI5IDcuMjAyNUMxNi42NjI5IDYuODEyNSAxNi42NjI5IDYuMTgyNSAxNi4yNzI5IDUuNzkyNUMxNS44ODI5IDUuNDAyNSAxNS4yNTI5IDUuNDAyNSAxNC44NjI5IDUuNzkyNUw3Ljk4Mjg4IDEyLjY3MjVMNS4xMDI4OCA5Ljc5MjVDNC43MTI4OCA5LjQwMjUgNC4wODI4OCA5LjQwMjUgMy42OTI4OCA5Ljc5MjVDMy41MDU2MiA5Ljk3OTMzIDMuNDAwMzkgMTAuMjMzIDMuNDAwMzkgMTAuNDk3NUMzLjQwMDM5IDEwLjc2MiAzLjUwNTYyIDExLjAxNTcgMy42OTI4OCAxMS4yMDI1TDcuMjgyODggMTQuNzkyNVoiIGZpbGw9IiMwNkE3NTkiLz4KPC9zdmc+Cg==" alt="tickIcon" height="20px" width="20px">
                            <p id="text-cont">Sell all over India</p>
                          </span>
                        </div>

                        <a target="_blank" rel="noopener noreferrer" href="https://supplier.meesho.com/?utm_source=meesho&amp;utm_medium=website&amp;utm_campaign=banner">
                            <div id="sign-up-now">Sign up now</div>
                        </a>
                   
                    </div>
                
                
                </div>
             </div>
    </div>
    <footer id="foot">
         <div id="foot1">
             <div id="foot-left">
                <h4 color="greyBase"  font-size="30px" font-weight="bold" id="foot-t1">Shop Non-Stop on Meesho</h4>
                <p color="greyT1" font-size="18px" font-weight="book" id="foot-t2">
                    Trusted by more than 1 Crore Indians
                    <br>
                    Cash on Delivery | Free Delivery
                </p>
                <div id="foot-btn">
                   <div>
                    <img onclick="playStore()" src="https://meesho.com/_next/static/images/google-play-button-1f2aa747a3eefa161840b04e057b31ac.png" alt="Google Play store" id="foot-btn1">
                   </div>
                   <div>
                    <img onclick="appleStore()" src="https://meesho.com/_next/static/images/appstore-button-4b171cf04fe0557718dfd2cbf309c61d.png" alt="App Store" id="foot-btn1">
                   </div> 
                </div>
            
            </div>
            <div id="foot-mid">
                <div>
                    <a href="https://meesho.io" target="_blank" rel="noopener noreferrer">
                        <span color="greyT1" font-size="18px" font-weight="demi" id="car">
                            Careers
                        </span>
                    </a>
                </div>
                <br>
                <div
                ><a href="https://supplier.meesho.com/?utm_source=meesho&amp;utm_medium=mweb&amp;utm_campaign=footer" target="_blank" rel="noopener noreferrer">
                    <span color="greyT1" font-size="18px" font-weight="demi" id="car">
                        Become a supplier
                    </span>
                </a>
                </div>
            </div>

            <div id="foot-mid">
                <div>
                    <a href="/legal?embed=true">
                        <span color="greyT1" font-size="18px" font-weight="demi" id="car">
                        Legal and Policies
                    </span>
                </a>
                </div>
                <br>
                <div>
                    <a href="https://medium.com/meesho-tech" target="_blank" rel="noopener noreferrer">
                        <span color="greyT1" font-size="18px" font-weight="demi" id="car">
                        Meesho Tech Blog
                    </span>
                </a>
                </div>
            </div>
            <div id="foot-right">
                <div id="footRight">
                    <div id="foor-right1">
                        <h6 color="greyBase" font-size="20px" font-weight="bold" id="contact-us">Contact Us</h6>
                        <br>
                        <a href="mailto:query@meesho.com">
                            <span color="greyT1" font-size="18px" font-weight="demi" id="car">
                            query@meesho.com
                        </span>
                    </a>
                    
                    </div>
                    <div id="foot-right2">
                        <h6 color="greyBase" font-size="20px" font-weight="bold" id="reach">
                            Reach out to us
                        </h6> 
                        <br>
                        
                        <div id="reach-img">

                            <div>
                                <img onclick="facebook()" width="24px" height="24px" src="https://meesho.com/assets/facebook.png" alt="">
                            </div>
                            <div style="margin-left: 20px;">
                                <img onclick="instagram()" width="24px" height="100%" src="https://meesho.com/assets/instagram.png" alt="">
                            </div>
                            <div style="margin-left: 20px;">
                                <img onclick="youtube()" width="24px" height="24px" src="https://meesho.com/assets/youtube.png" alt="">
                            </div>
                            <div style="margin-left: 20px;">
                                <img onclick="linkedIn()" width="24px" height="24px" src="https://meesho.com/assets/linkedin.png" alt="">
                            </div>
                            <div style="margin-left: 20px;">
                                <img onclick="twitter()" width="24px" height="24px" src="https://meesho.com/assets/twitter.png" alt="">
                            </div>

                        </div>



                   
                     <br>
                  <div id="foot-right-end">
                      <div id="foot-right-end1" style="margin-top: 63px; border-radius: 8px;">
                        <svg viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg" height="28" width="28" iconsize="20" id="foot-right-end-icon"><ellipse opacity="0.9" cx="13.622" cy="13.5" rx="13.622" ry="13.5" fill="#F0F0F0"></ellipse><path d="M21.19 9l-7.569 3.75L6.054 9l7.567-3 7.568 3z" fill="#DFDFDF"></path><path d="M18.162 10.5l-7.568-3.3-1.513.6 7.567 3.45 1.514-.75z" fill="#fff"></path><path d="M13.621 21v-8.25L21.19 9v9l-7.568 3z" fill="#A67E4F"></path><path d="M13.621 21v-8.25L21.19 9v9l-7.568 3z" fill="#999"></path><path d="M16.648 14.25v-3l1.514-.75v3.375l-.757-.375-.757.75z" fill="#fff"></path><path d="M13.621 21v-8.25L6.054 9v9l7.567 3z" fill="#666"></path><ellipse cx="22.703" cy="6" rx="5.297" ry="5.25" fill="#F4B743"></ellipse><path d="M23.145 7.503v-.088c0-1.276 1.914-1.188 1.914-3.157 0-1.199-1.001-2.123-2.486-2.123-1.551 0-2.497 1.023-2.63 2.618l1.376.099c.044-.825.484-1.408 1.243-1.408.627 0 1.023.385 1.023.869 0 1.188-1.848 1.166-1.848 2.97v.22h1.408zM21.67 10h1.518V8.372H21.67V10z" fill="#fff"></path></svg>
                        <span color="greyT1" font-size="12px" font-weight="book" id="foot-right-end-text">If you have received a product that you did not order, please call us on 080-68878782. Please note no other support will be provided here.</span>
                      </div>
                  </div>
                </div>
            </div>                              
            </div>
         </div>
    </footer>

    <div id="footer2">

      <div id="footer2-1">

          <div id="footer2-2">
            <span color="greyBase" font-size="18px" font-weight="demi" id="footer2-title">More About Meesho</span>
            <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" iconSize="28" id="footer2-icon"><path d="M9.243 7.31l-4.929 4.88a1.051 1.051 0 000 1.5 1.077 1.077 0 001.514 0l4.177-4.125 4.167 4.124a1.077 1.077 0 001.514 0 1.051 1.051 0 000-1.499l-4.929-4.88a1.077 1.077 0 00-1.514 0z" fill="#666"></path></svg>  
        </div>
         
        <div id="footer2-content">

            <div id="footer2-line" style="margin: 15px 0px 24px;"></div>

            <div id="footer2-main-cont">
                <div id="footer2-main-cont2">
                    <div id="cont-title">
                        <h1>Find The Biggest Collection Of Affordable Products In Every Category</h1>
                    </div>
                    <div id="cont-cont">
                        <p>Meesho has over 50 lakh products in different categories like clothes, cosmetics, and household items. There are over 650+ categories of products to choose from. You can read reviews and user feedback before placing an order. Some of the popular product categories are women's ethnic wear, men's top wear, western wear, accessories, and home essentials. Meesho also conducts regular quality checks to ensure that you get products of the best quality.</p>
                    </div>
                </div> 
                
                <div id="footer2-main-cont2">
                    <div id="cont-title">
                        <h1>Women's Ethnic Wear</h1>
                    </div>
                    <div id="cont-cont">
                        <p>Our product selection encompasses the latest trending designs in every category - <a href="#">Sarees</a>, <a href="#">Suits</a>, <a href="#">Kurtis</a>, jewelry, and many more. Whether you are shopping for the festive season, casual or party wear clothes, you will find everything you need on our website. Our comprehensive collection of jewelry sets and accessories will steal your heart.</p>
                    </div>
                </div> 

                <div id="footer2-main-cont2">
                    <div id="cont-title">
                        <h1>Women's Western Wear
                        </h1>
                    </div>
                    <div id="cont-cont">
                        <p>When it comes to Western wear for women, you will find the best quality clothes at the most affordable prices on Meesho. Our curated collection of Western wear includes designer Western dresses, jeans, skirts, shorts, <a href="#">gowns</a> along with other essential accessories like handbags, <a href="#">sunglasses</a>, and fashion jewelry. You can buy all the latest styles at reasonable prices.</p>
                    </div>
                </div> 

                <div id="footer2-main-cont2">
                    <div id="cont-title">
                        <h1>Men's Western Wear</h1>
                    </div>
                    <div id="cont-cont">
                        <p>Our men's clothing collection features hundreds of options in men's top wear in every design, color, and pattern. We have all the trending <a href="#">shirts for men</a>, shirt dress material, latest t-shirts for men, all at unbelievable prices. You can also check out our men's bottom wear and winter wear for men collection if you want budget-friendly but stylish jeans<a href="#"> for men</a>, jackets, sweaters, coats, innerwear, and more. And when it comes to formals for men, we have an exclusive collection that includes, men's suits, formal pants, formal <a href="#">shoes for men</a>, and much more.</p>
                    </div>
                </div> 

                <div id="footer2-main-cont2">
                    <div id="cont-title">
                        <h1>Accessories and Footwear</h1>
                    </div>
                    <div id="cont-cont">
                        <p><strong>Women's Accessories:</strong> No outfit is complete without the right accessories and shoes. To add essence to any outfit, take your pick from our latest collection of accessories for women. Add a trendy sling bag or clutch for a gorgeous evening look. Add a stylish scarf for an ultra-chic look. As for footwear, we have a plethora of options for you. From <a href="#">high heels</a> and partywear ethnic shoes to daily wear shoes, sandals, flip flops, and more, you will find all the latest designs at very affordable prices.</p>
                        <p><strong>Mens Accessories: </strong>Accessorizing your outfits is just as important for men and that is why we also have a wide variety of must-have men's fashion accessories like smartwatches, backpacks, wallets, <a href="#">belts</a>, keychains, bracelets, etc. Moreover, we have also added our latest selection of men's footwear for you. Whether you are looking for casual sneakers and sports shoes, formal leather shoes or ethnic party wear shoes, you will definitely get what you want here. What's more? You can avail of exclusive discounts and offers on every purchase.</p>
                    </div>
                </div> 

                <div id="footer2-main-cont2">
                    <div id="cont-title">
                        <h1>Kids' Clothing</h1>
                    </div>
                    <div id="cont-cont">
                        <p>Finding the right clothes for your kids has never been so easy. Browse through our lineup of the most comfortable and adorable kids' outfits. From cute dresses, skirts, suits, frocks for your little girl to lovely T-shirts, shirts, jeans, and shorts for your baby boy, you will find all you need here. Not just that, we also have traditional clothing and accessories for kids of all ages.</p>
                    </div>
                </div> 
                 
                <div id="footer2-main-cont2">
                    <div id="cont-title">
                        <h1>Beauty & Makeup</h1>
                    </div>
                    <div id="cont-cont">
                        <p>Whether you're looking for the perfect foundation &amp; <a href="#">lipstick</a>, the best anti-aging cream, or just a <a href="#">face wash</a>, you can find just what you're looking for when you shop online with us. We stock thousands of products in all price ranges, so you can find the perfect product for your budget. And whether you want the latest in skincare technology or the hottest in fragrances, you can find it when you browse our cosmetics, fragrances, and skincare range.</p>
                    </div>
                </div> 

                <div id="footer2-main-cont2">
                    <div id="cont-title">
                        <h1>Home & Kitchen Essentials</h1>
                    </div>
                    <div id="cont-cont">
                        <p><strong>Home Furnishing &amp; Decor:</strong> If you are looking for home furnishing essentials and other household products, you are just where you need to be. Our huge range of the latest <a href="#">curtains</a>, bedsheets, table cloths, <a href="#">decorative showpieces</a>, and other home furnishing products will surely solve all your problems.&nbsp;</p>
                        <p><strong>Kitchen Products</strong>: As for other household essentials, you can take your pick from a huge range of kitchen tools, serveware, <a href="#">drinkware</a>, and other utility items. If you love to cook, you must take a look at our handpicked selection of high-quality kitchen products.</p>
                        <p><strong>Stationery &amp; Office Supplies: </strong>If you are looking for inexpensive stationery items and office products, you are in luck! We have top-quality products like paper envelopes, paper clips, pens, diaries, etc. that are widely used by students, professionals, businessmen, etc. in their day-to-day life.&nbsp;</p>
                        <p><strong>Electronics &amp; Automotive Accessories: </strong>At Meesho, we have made it easy for you to find affordable products that suit your lifestyle. With our exclusive deals and discounts, you don't have to worry about spending too much on your favorite gadgets and accessories. Browse through our collection and buy top-quality <a href="#">electronic items</a>, automotive and mobile accessories at affordable prices.</p>
                        <p><strong>Sports &amp; Fitness:</strong> To help you stay fit and healthy, we have curated a selection of useful sports and fitness equipment. These products include but are not limited to dumbell sets, jump ropes, yoga mats, exercise bands, resistance bands, etc. Check out our latest selection and find everything you need in one place.</p>
                        <p>Our products come directly from wholesalers and suppliers, which means that you can get them at factory prices. This is the only platform where you can get trending products in every category without worrying about high prices. You can also utilize offers and discounts to save even more.</p>
                    </div>
                </div> 
         
                <div id="link-section">
                    <div id="cont-title">
                        Trending Now
                    </div>
                    <span id="link-cont">
                        <a href="/silk-sarees/pl/hj5n4">Silk Saree</a>
                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/kajal/pl/fmpv3">Kajal</a>
                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/sanitizers/pl/n5ikc">Sanitizers</a>
                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/women-kurtis/pl/dn6ft">Kurtis Design</a>
                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/lehengas/pl/bjaoq">Lehenga Designs</a>
                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/sunglasses-women/pl/kn07d">Goggles</a>
                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/women-suits-dress-materials/pl/yvqy7">Suits</a>
                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/mangalsutras/pl/z3ts4">Mangalsutra</a>
                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/women-gold-earrings/pl/xvuvj">Gold Earrings</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/blazers-men/pl/4t6fe">Blazers for Men</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/bridal-lehengas/pl/mt8gu">Bridal Lehengas</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/necklaces/pl/2zphn">Necklaces</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/rakhis/pl/bo78r">Rakhi</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/rings-women/pl/ls467">Ring</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/salwar-suits/pl/2wq37">Salwar Suits</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/blouses/pl/6ydto">Blouse</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/clocks/pl/0lcc7">Clocks</a>

                        <span id="link-divider"> | </span>
                    </span>
                   
                    <span id="link-cont">
                        <a href="/jeans-women/pl/odur2">Girls Jeans</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/women-watches/pl/ok5et">Ladies Watches</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/gold-necklaces/pl/ozly7">Gold Necklace Design</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/hair-straighteners/pl/irc5h">Hair Straighteners</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/kurta-sets-women/pl/2i0ma">Kurta Design</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/maxi-dresses/pl/4ack6">Sexy Maxi Dresses</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/nose-pins/pl/c52l9">Noserings</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/bedsheets/pl/fkij1">Bed Sheets</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a  href="/gold-bangles/pl/wa8kk">Gold Bangles Design</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a  href="/gold-chains-women/pl/9w1l0">Gold Chain Design</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a  href="/led-lights/pl/8oe17">Led Lights</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a  href="/umbrellas/pl/s0rbk">Umbrellas</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a  href="/anklets-payal/pl/azafo">Payal</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a  href="/dresses-women/pl/gvn1o">Ladies Dress</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/gold-mangalsutra/pl/c8ra6">Gold Mangalsutra Design</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/jeans-men/pl/k7hey">Men Jeans</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a  href="/jewellery-sets-women/pl/lkioo">Jewellery Sets</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/paithani-sarees/pl/rnpsm">Paithani Sarees</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a href="/sofa-covers/pl/ycqx2">Sofa Covers</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a  href="/sweaters-women/pl/9cudf">Sweaters for Women</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a  href="/tops-ladies/pl/nk8v6">Tops Designs</a>

                        <span id="link-divider"> | </span>
                    </span>
                   
                    <span id="link-cont">
                        <a  href="/water-bottles/pl/nz9s1">Water Bottles</a>

                        <span id="link-divider"> | </span>
                    </span>
                    <span id="link-cont">
                        <a  href="/wedding-sarees/pl/vtmgm">Wedding Sarees</a>
                    </span>
                   

                </div>

            </div>


        </div>

      </div>

    </div>

</body>
</html>
<script>


    function playStore(){
    window.open(
        "https://play.google.com/store/apps/details?id=com.meesho.supply",
        "_blank"
    )
}

function appleStore(){
    window.open(
        "https://apps.apple.com/us/app/meesho/id1457958492",
        "_blank"
    )
}

function facebook(){
    window.open(
        "https://www.facebook.com/meeshosupply",
        "_blank"
    )
}

function instagram(){
    window.open(
        "https://www.instagram.com/meeshoapp/",
        "_blank"
    )
}

function youtube(){
    window.open(
        "https://www.youtube.com/channel/UCaGHIRKYUYlaI_ZAt2hxpjw",
        "_blank"
    )
}

function linkedIn(){
    window.open(
        "https://www.linkedin.com/company/meesho/",
        "_blank"
    )
}

function twitter(){
    window.open(
        "https://twitter.com/meeshoapp",
        "_blank"
    )
}
</script>